.sport {
  margin-top: 50px;
}
.sport__mobile {
  display: none;
}

.sportList {
  @include flexStayle(fex-end, space-between);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sportList__item {
  width: 242px;
}

.sportList__heading {
  font-weight: 700px;
  @include textStyle(18px, 150%, #000000);
  margin: 0;
  margin-bottom: 30px;
}

.sportList__text {
  font-weight: 400px;
  @include textStyle(14px, 160%, #000000);
  margin: 0;
  margin-bottom: 20px;
}

.sportList__link {
  font-weight: 700px;
  @include flexStayle(center,start);
  @include linkStyle(none,18px, rgb(252, 81, 29));
  font-variant: small-caps;
  &::before{
    width: 30px;
    height: 2px;
    margin-right: 10px;
    content: "";
    background-color: rgb(252, 81, 29);
  }
}
.sportList__link:active{
  &::before {
    width: 50px;
  }
}

.sportList__littleDiv {
  width: 44px;
}
.sportList__span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #dddddd;
}

.sport__flexible {
  @include flexStayle(center, space-between);
  padding-top: 140px;
  padding-bottom: 70px;
}

.sport__content {
  width: 363px;
}

.sport__heading {
  font-weight: 700px;
  margin: 0;
  margin-bottom: 40px;
  @include textStyle(40px, 56px, #000000);
}

.sport__text {
  font-weight: 400px;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  @include textStyle(15px, 150%, rgba(0, 0, 0,0.6));
}

.sport__text::before {
  width: 8px;
  height: 70px;
  margin-right: 20px;
  content: "";
  background-color: rgba(0, 0, 0,0.6);
}

.sport__button {
  font-weight: 400px;
  padding-top: 12px;
  padding-right: 90px;
  padding-bottom: 12px;
  padding-left: 90px;
  border: none;
  background-color: rgb(234, 98, 92);
  color: #ffffff;
  font-variant: small-caps;
}

.sport__button:hover {
  cursor: pointer;
  background-color: rgb(247, 73, 20);
}

.sport__button:active {
  background-color: rgb(235, 73, 23);
}

.sport__img {
  border-radius: 20px;
}


@media only screen and (max-width: 520px) {
  .sport__mobile {
    display: block;
  }
  .sportList {
    display: none;
    text-align: center;
    padding: 0;
  }
  .sportList__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background: #F5F5F5;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
  }
  .sport__flexible {
    flex-direction: column-reverse;
    margin-top: 110px;
  }

  .sport__content {
    margin-top: 41px;
    width: 370px;
  }
  .sport__heading {
    margin: 0;
    margin-bottom: 30px;
    @include textStyle(46px, 120%, #000000);
  }
  
  .sport__text {
    margin-bottom: 30px;
    @include textStyle(15px, 150%, rgba(0, 0, 0,0.6));
  }

  .sport__img {
    width: 350px;
    height: auto;
  }

  .sport__text::before {
    height: 110px;
  }
}

@media only screen and (max-width: 380px) {
  .sport__content {
    width: 300px;
  }

  .sport__img {
    width: 300px;
    height: auto;
  }

  .sport__text::before {
    height: 140px;
  }
}